html, body {
    height: 100%;
}

body {
    background-image: url("Images/background.jpg");
    background-size: cover;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10.5rem;            /* Footer height */
}

a {
    cursor: pointer;
    text-decoration: none;
}

.logo img {
    margin-left: 55px;
    margin-top: 15px;
}

#login {
    height: 22px;
    width: 100px;
    background-color: #785a28;
    color: white;
    font-size: 12px;
    border: none;
    position: absolute;
    right: 4%;
    margin-top: 10px;
    cursor: pointer;
}

#nap:hover, #login:hover {
    opacity: 0.9;
}

#nap {
    height: 22px;
    width: 100px;
    background-color: red;
    color: white;
    font-size: 12px;
    border: none;
    position: absolute;
    right: 4%;
    margin-top: 40px;
    cursor: pointer;
}

header {
    padding-bottom: 100px;
    border-bottom: 1px solid #785a28
}

#title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
}

#content-wrap .menu {
    height: 77px;
    text-align: center;
    border-bottom: 1px solid #3c4649;
}

#content-wrap .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content-wrap .menu ul li {
    display: inline-block;
    padding-top: 30px;
    margin-right: 25px;
}

#content-wrap .menu ul li a {
    text-transform: uppercase;
    color: #cbbe91;
    padding: 0px 20px;
}

#content-wrap .menu ul li .button {
    padding: 5px 10px;
    background-color: #42331a;
    border: 1px solid rgb(202, 119, 23);
}

#content-wrap .container {
    margin: 50px auto;
    width: 808px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#box {
    height: 300px;
    width: 200px;
    border: 1px solid white;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-wrapper #warning {
    height: 50%;
}

.footer-wrapper #vne {
    height: 50%;
}

.footer-wrapper .footer-content {
    text-align: center;
}

.footer-wrapper ul li {
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 15px;
    margin-left: 15px;
}

.footer-wrapper ul li a {
    color: white;
    text-transform: uppercase;
}

.footer-wrapper ul li a:hover {
    text-decoration:underline;
}

.footer-content p {
    color: white;
}
